<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/manager_bookings.css" />
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
    />
</head>
<body>
  <header>
    <div class="profile">
      <img src="/Images/Uploads/<%= manager.profile_pic %>" alt="" />
      <span> <%= manager.name %> </span>
    </div>
  </header>
    <div id="sidebar">
        <div class="logo">
          <img src="/Images/newlogog.png" alt="Logo" />
        </div>
        <div class="profile-sidebar">
          <form id="uploadform" style="display: none;" action="/managers/fileupload" method="post" enctype="multipart/form-data">
            <input type="file" name="image" style="display: block; margin-bottom: 10px;">
          </form>
  
          <div style="position: relative;">
              <span id="uploadicon" style="width: 1.5rem; height: 1.5rem; position: absolute; bottom: 0; right: 0; display: flex; align-items: center; justify-content: center; background-color: #bfc5cd; border-radius: 9999px; cursor: pointer;">
                  <i class="text-zinc-800 ri-edit-fill"></i>
              </span>
              <div style="width: 4rem; height: 4rem; border-radius: 9999px; background-color: #fff; overflow: hidden;">
                  <img style="width: 100%; height: 100%; object-fit: cover;" src="/Images/Uploads/<%= manager.profile_pic %>" alt="">
              </div>
          </div>
          <div class="pmanager">
            <span style="font-size: 20px; padding-left: 10px; padding-bottom: 3px"
              ><%= manager.username %></span
            >
            <span
              style="
                font-size: 14px;
                padding-left: 12px;
                margin-bottom: 12px;
                color: #6c7293;
              "
              >Manager</span
            >
          </div>
        </div>
        <div
          style="
            color: #6c7293;
            padding-left: 24px;
            font-size: 16px;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 13px;
          "
        >
          Navigation
        </div>
  
        <ul>
          <a href="/managers/dashboard" style="text-decoration: none"
            ><li class="sidebar-1">
              <svg
                viewBox="-20 0 190 190"
                margin-top="1px"
                height="45px"
                width="45px"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M106.29 130.28C106.999 128.365 107.521 126.386 107.85 124.37L120.4 125.65C120.452 128.761 120.228 131.869 119.73 134.94L106.29 130.28ZM108.29 113.82L118.38 111.93C119.107 114.409 119.642 116.939 119.98 119.5L108.39 119.41C108.454 117.546 108.407 115.679 108.25 113.82H108.29ZM107.15 106.43C106.89 105.95 106.62 105.43 106.33 105L112.8 99.6801C114.073 101.643 115.19 103.702 116.14 105.84L107.63 109C107.48 108.1 107.31 107.25 107.11 106.43H107.15ZM81.98 109.55L98 95.4601C92.18 90.8801 84.66 88.0001 75.44 88.0001C44.61 88.0001 30 116.72 36.67 139L44.82 137.4L47.18 142.61L35.06 149.26C20.59 122.19 35.06 80.6201 75.58 80.6201C87.46 80.6201 96.97 84.2401 104.12 90.0201L109.23 85.5301L111.23 89.8701L90.92 118.3L81.98 109.55ZM75.19 114.48C90.71 114.48 90.61 138.19 75.46 138.19C58.82 138.19 59.57 114.48 75.15 114.48H75.19ZM118.33 141.28C117.482 144.151 116.367 146.937 115 149.6L98.46 140.74C100.808 139.13 102.786 137.036 104.26 134.6L118.33 141.28Z"
                    fill="#8F5FE8"
                  ></path>
                </g>
              </svg>
              <div class="side-align-1">Dashboard</div>
            </li></a
          >
          <!-- <a href="/managers/services" style="text-decoration: none"
            ><li class="sidebar-2">
              <svg
                viewBox="0 0 48 48"
                height="30px"
                width="30px"
                version="1"
                xmlns="http://www.w3.org/2000/svg"
                enable-background="new 0 0 48 48"
                fill="#000000"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    fill="#E65100"
                    d="M25.6,34.4c0.1-0.4,0.1-0.9,0.1-1.4s0-0.9-0.1-1.4l2.8-2c0.3-0.2,0.4-0.6,0.2-0.9l-2.7-4.6 c-0.2-0.3-0.5-0.4-0.8-0.3L22,25.3c-0.7-0.6-1.5-1-2.4-1.4l-0.3-3.4c0-0.3-0.3-0.6-0.6-0.6h-5.3c-0.3,0-0.6,0.3-0.6,0.6L12.4,24 c-0.9,0.3-1.6,0.8-2.4,1.4l-3.1-1.4c-0.3-0.1-0.7,0-0.8,0.3l-2.7,4.6c-0.2,0.3-0.1,0.7,0.2,0.9l2.8,2c-0.1,0.4-0.1,0.9-0.1,1.4 s0,0.9,0.1,1.4l-2.8,2c-0.3,0.2-0.4,0.6-0.2,0.9l2.7,4.6c0.2,0.3,0.5,0.4,0.8,0.3l3.1-1.4c0.7,0.6,1.5,1,2.4,1.4l0.3,3.4 c0,0.3,0.3,0.6,0.6,0.6h5.3c0.3,0,0.6-0.3,0.6-0.6l0.3-3.4c0.9-0.3,1.6-0.8,2.4-1.4l3.1,1.4c0.3,0.1,0.7,0,0.8-0.3l2.7-4.6 c0.2-0.3,0.1-0.7-0.2-0.9L25.6,34.4z M16,38c-2.8,0-5-2.2-5-5c0-2.8,2.2-5,5-5c2.8,0,5,2.2,5,5C21,35.8,18.8,38,16,38z"
                  ></path>
                  <path
                    fill="#FFA000"
                    d="M41.9,15.3C42,14.8,42,14.4,42,14s0-0.8-0.1-1.3l2.5-1.8c0.3-0.2,0.3-0.5,0.2-0.8l-2.5-4.3 c-0.2-0.3-0.5-0.4-0.8-0.2l-2.9,1.3c-0.7-0.5-1.4-0.9-2.2-1.3l-0.3-3.1C36,2.2,35.8,2,35.5,2h-4.9c-0.3,0-0.6,0.2-0.6,0.5l-0.3,3.1 c-0.8,0.3-1.5,0.7-2.2,1.3l-2.9-1.3c-0.3-0.1-0.6,0-0.8,0.2l-2.5,4.3c-0.2,0.3-0.1,0.6,0.2,0.8l2.5,1.8C24,13.2,24,13.6,24,14 s0,0.8,0.1,1.3l-2.5,1.8c-0.3,0.2-0.3,0.5-0.2,0.8l2.5,4.3c0.2,0.3,0.5,0.4,0.8,0.2l2.9-1.3c0.7,0.5,1.4,0.9,2.2,1.3l0.3,3.1 c0,0.3,0.3,0.5,0.6,0.5h4.9c0.3,0,0.6-0.2,0.6-0.5l0.3-3.1c0.8-0.3,1.5-0.7,2.2-1.3l2.9,1.3c0.3,0.1,0.6,0,0.8-0.2l2.5-4.3 c0.2-0.3,0.1-0.6-0.2-0.8L41.9,15.3z M33,19c-2.8,0-5-2.2-5-5c0-2.8,2.2-5,5-5c2.8,0,5,2.2,5,5C38,16.8,35.8,19,33,19z"
                  ></path>
                </g>
              </svg>
              <div class="side-align-2">Services</div>
            </li></a
          > -->
          <!-- <a href="/managers/schedule" style="text-decoration: none"
            ><li class="sidebar-3">
              <svg
                viewBox="0 0 24 24"
                height="30px"
                width="30px"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M3 9H21M17 13.0014L7 13M10.3333 17.0005L7 17M7 3V5M17 3V5M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z"
                    stroke="#00D25B"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
              <div class="side-align-3">Schedule</div>
            </li></a
          > -->
          <a href="/managers/wallet" style="text-decoration: none"
            ><li class="sidebar-4">
              <svg
                viewBox="0 0 24 24"
                height="30px"
                width="30px"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M12 14.0005L8 14M21 12V11.2C21 10.0799 21 9.51984 20.782 9.09202C20.5903 8.71569 20.2843 8.40973 19.908 8.21799C19.4802 8 18.9201 8 17.8 8H3M21 12V16M21 12H19C17.8954 12 17 12.8954 17 14C17 15.1046 17.8954 16 19 16H21M21 16V16.8C21 17.9201 21 18.4802 20.782 18.908C20.5903 19.2843 20.2843 19.5903 19.908 19.782C19.4802 20 18.9201 20 17.8 20H6.2C5.0799 20 4.51984 20 4.09202 19.782C3.71569 19.5903 3.40973 19.2843 3.21799 18.908C3 18.4802 3 17.9201 3 16.8V8M18 8V7.2C18 6.0799 18 5.51984 17.782 5.09202C17.5903 4.71569 17.2843 4.40973 16.908 4.21799C16.4802 4 15.9201 4 14.8 4H6.2C5.07989 4 4.51984 4 4.09202 4.21799C3.71569 4.40973 3.40973 4.71569 3.21799 5.09202C3 5.51984 3 6.0799 3 7.2V8"
                    stroke="#008FE1"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
              <div class="side-align-4">Wallet</div>
            </li></a
          >
          <a href="/managers/bookings" style="text-decoration: none">
            <li class="sidebar-update-selected">
                <svg viewBox="0 0 1024 1024" height="30px" width="30px" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M484 1008.8H480c-33.6-1.6-63.2-25.6-72-59.2-10.4-40 10.4-80.8 49.6-95.2 8.8-3.2 18.4-4.8 27.2-4.8 30.4 0 58.4 17.6 71.2 44.8 3.2 6.4 7.2 7.2 9.6 7.2h3.2c135.2-22.4 235.2-96 297.6-218.4 0.8-0.8 0.8-2.4 1.6-4l2.4-6.4-7.2 0.8-4.8 0.8c-3.2 0-4.8 0.8-7.2 0.8h-6.4c-59.2 0-107.2-48-107.2-107.2V457.6c0-59.2 48-107.2 107.2-107.2h6.4c7.2 0 13.6 2.4 20.8 4 3.2 0.8 7.2 1.6 10.4 2.4l2.4 0.8 6.4 2.4-1.6-7.2C856 212 718.4 68 522.4 63.2H512c-200 0-341.6 144.8-378.4 288l-1.6 6.4 6.4-1.6c2.4-0.8 4.8-0.8 7.2-1.6 5.6-1.6 10.4-3.2 16-4 5.6-0.8 12-1.6 17.6-1.6 50.4 0 96.8 38.4 104.8 88 0.8 6.4 1.6 14.4 1.6 22.4v108c0 52-34.4 94.4-85.6 105.6-7.2 1.6-14.4 2.4-21.6 2.4-52 0-96.8-38.4-105.6-88.8-0.8-7.2-1.6-12.8-1.6-18.4v-32c0-28-0.8-56.8 0-84.8 3.2-140.8 61.6-256.8 172-344 55.2-44 120-72 192-84.8 35.2-6.4 72-8.8 107.2-5.6 5.6 0.8 12 0.8 17.6 1.6 62.4 6.4 120.8 25.6 172.8 56.8 104.8 61.6 173.6 152.8 205.6 269.6 9.6 34.4 14.4 71.2 14.4 109.6V567.2c0 16.8-4 32.8-11.2 49.6-2.4 4.8-4 10.4-4.8 16-0.8 1.6-0.8 4-1.6 5.6-46.4 156-174.4 273.6-333.6 306.4-9.6 1.6-20 4-32.8 5.6-6.4 0.8-8 4.8-9.6 8-12.8 29.6-41.6 50.4-75.2 50.4z m362.4-612h-6.4c-31.2 3.2-53.6 28.8-53.6 59.2V567.2c0 4.8 0.8 9.6 1.6 14.4 6.4 27.2 30.4 46.4 57.6 46.4 2.4 0 4.8 0 7.2-0.8 31.2-4 53.6-28.8 53.6-59.2V456.8c0-4.8-0.8-9.6-1.6-13.6-7.2-27.2-31.2-46.4-58.4-46.4z m-668 0c-33.6 0-59.2 26.4-59.2 60v109.6c0 4.8 0.8 9.6 1.6 13.6 6.4 27.2 30.4 46.4 57.6 46.4h6.4c31.2-3.2 53.6-28.8 53.6-59.2V456.8c-0.8-33.6-26.4-60-60-60z" fill="#FFA000"></path></g></svg>              
              <div class="side-align-update">Bookings</div>
            </li>
          </a>
          <a href="/managers/update" style="text-decoration: none">
            <li class="sidebar-update">
              <svg viewBox="0 0 20 20" height="30px" width="30px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#8F5FE8"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>profile_round [#8F5FE8]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-140.000000, -2159.000000)" fill="#8F5FE8"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M100.562548,2016.99998 L87.4381713,2016.99998 C86.7317804,2016.99998 86.2101535,2016.30298 86.4765813,2015.66198 C87.7127655,2012.69798 90.6169306,2010.99998 93.9998492,2010.99998 C97.3837885,2010.99998 100.287954,2012.69798 101.524138,2015.66198 C101.790566,2016.30298 101.268939,2016.99998 100.562548,2016.99998 M89.9166645,2004.99998 C89.9166645,2002.79398 91.7489936,2000.99998 93.9998492,2000.99998 C96.2517256,2000.99998 98.0830339,2002.79398 98.0830339,2004.99998 C98.0830339,2007.20598 96.2517256,2008.99998 93.9998492,2008.99998 C91.7489936,2008.99998 89.9166645,2007.20598 89.9166645,2004.99998 M103.955674,2016.63598 C103.213556,2013.27698 100.892265,2010.79798 97.837022,2009.67298 C99.4560048,2008.39598 100.400241,2006.33098 100.053171,2004.06998 C99.6509769,2001.44698 97.4235996,1999.34798 94.7348224,1999.04198 C91.0232075,1998.61898 87.8750721,2001.44898 87.8750721,2004.99998 C87.8750721,2006.88998 88.7692896,2008.57398 90.1636971,2009.67298 C87.1074334,2010.79798 84.7871636,2013.27698 84.044024,2016.63598 C83.7745338,2017.85698 84.7789973,2018.99998 86.0539717,2018.99998 L101.945727,2018.99998 C103.221722,2018.99998 104.226185,2017.85698 103.955674,2016.63598" id="profile_round-[#8F5FE8]"> </path> </g> </g> </g> </g></svg>
              
              <div class="side-align-update">Update Profile</div>
            </li>
          </a>
          <a href="/managers/logout" style="text-decoration: none"
            ><li class="sidebar-4">
              <svg
                height="30px"
                width="30px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              > 
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M21 12L13 12"
                    stroke="#FC424A"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M18 15L20.913 12.087V12.087C20.961 12.039 20.961 11.961 20.913 11.913V11.913L18 9"
                    stroke="#FC424A"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M16 5V4.5V4.5C16 3.67157 15.3284 3 14.5 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H14.5C15.3284 21 16 20.3284 16 19.5V19.5V19"
                    stroke="#FC424A"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
              <div style="margin-left: 22px" >Logout</div>
            </li></a
          >
        </ul>
      </div>
      <h3 class="heading">Bookings</h3>
      <table>
        <thead>
          <tr>
            <th class="name">Name</th>
            <th class="contact">Contact</th>
            <th class="date">Date</th>
            <th class="arrival">Arr. Time</th>
            <th class="departure">Dep. Time</th>
            <th class="service">Service</th>
            <th class="cancel">Cancel</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <% bookings.forEach(booking => { %>
              <tr>
                  <td><%= booking.user.username %></td>
                  <td><%= booking.user.contact %></td>
                  <% if (booking.date) { %>
                    <td><%= booking.date.toLocaleDateString() %></td>
                <% } else { %>
                <td>Date not available</td>
                <% } %>
                  <% if (booking.service === 'parking' || booking.service === 'ev charging') { %>
                      <td><%= booking.from_time %>:00</td>
                      <td><%= booking.to_time %>:00</td>
                  <% } else { %>
                      <td><%= booking.from_time %>:00</td>
                      <td><%=2 + booking.from_time%>:00</td>
                  <% } %>
                  <td><%= booking.service %></td>
                  <td>
                    <form action="/managers/deleteBooking" method="POST">
                      <input type="hidden" name="bookingId" value="<%=booking._id%>">
                      <button class="cancel-button">Cancel</button>
                    </form>
                  </td>
              </tr>
          <% }); %>
          
                
          </tr>
        </tbody>
      </table>
</body>
</html>