<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/manager_dashboard.css">
    <link rel="stylesheet" href="/CSS/manager_wallet.css">
    <link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="../../Images/favicon_io/favicon-16x16.png"
/>
<link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
    />
</head>
<body>
    <div id="sidebar">
        <div class="logo">
            <img src="/Images/newlogog.png" alt="Logo">
        </div>
        <div class="profile-sidebar">
          <form id="uploadform" style="display: none;" action="/managers/fileupload" method="post" enctype="multipart/form-data">
            <input type="file" name="image" style="display: block; margin-bottom: 10px;">
          </form>
  
          <div style="position: relative;">
              <span id="uploadicon" style="width: 1.5rem; height: 1.5rem; position: absolute; bottom: 0; right: 0; display: flex; align-items: center; justify-content: center; background-color: #bfc5cd; border-radius: 9999px; cursor: pointer;">
                  <i class="text-zinc-800 ri-edit-fill"></i>
              </span>
              <div style="width: 4rem; height: 4rem; border-radius: 9999px; background-color: #fff; overflow: hidden;">
                  <img style="width: 100%; height: 100%; object-fit: cover;" src="/Images/Uploads/<%= manager.profile_pic %>" alt="">
              </div>
          </div>
          <div class="pmanager">
            <span style="font-size: 20px; padding-left: 10px; padding-bottom: 3px"
              ><%= manager.username %></span
            >
            <span
              style="
                font-size: 14px;
                padding-left: 12px;
                margin-bottom: 12px;
                color: #6c7293;
              "
              >Manager</span
            >
          </div>
        </div>
        <div style="color: #6C7293; padding-left: 24px; font-size: 16px; font-weight: 600; margin-top: 20px; margin-bottom: 13px;">Navigation</div>
        
        <ul>
            <a href="/managers/dashboard" style="text-decoration: none;"><li class="sidebar-1"><svg viewBox="-20 0 190 190"  margin-top="1px" height="45px" width="45px" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M106.29 130.28C106.999 128.365 107.521 126.386 107.85 124.37L120.4 125.65C120.452 128.761 120.228 131.869 119.73 134.94L106.29 130.28ZM108.29 113.82L118.38 111.93C119.107 114.409 119.642 116.939 119.98 119.5L108.39 119.41C108.454 117.546 108.407 115.679 108.25 113.82H108.29ZM107.15 106.43C106.89 105.95 106.62 105.43 106.33 105L112.8 99.6801C114.073 101.643 115.19 103.702 116.14 105.84L107.63 109C107.48 108.1 107.31 107.25 107.11 106.43H107.15ZM81.98 109.55L98 95.4601C92.18 90.8801 84.66 88.0001 75.44 88.0001C44.61 88.0001 30 116.72 36.67 139L44.82 137.4L47.18 142.61L35.06 149.26C20.59 122.19 35.06 80.6201 75.58 80.6201C87.46 80.6201 96.97 84.2401 104.12 90.0201L109.23 85.5301L111.23 89.8701L90.92 118.3L81.98 109.55ZM75.19 114.48C90.71 114.48 90.61 138.19 75.46 138.19C58.82 138.19 59.57 114.48 75.15 114.48H75.19ZM118.33 141.28C117.482 144.151 116.367 146.937 115 149.6L98.46 140.74C100.808 139.13 102.786 137.036 104.26 134.6L118.33 141.28Z" fill="#8F5FE8"></path> </g></svg><div class="side-align-1">Dashboard</div></li></a>
            <!-- <a href="/managers/services" style="text-decoration: none;"><li class="sidebar-2"><svg viewBox="0 0 48 48" height="30px" width="30px" version="1" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 48 48" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill="#E65100" d="M25.6,34.4c0.1-0.4,0.1-0.9,0.1-1.4s0-0.9-0.1-1.4l2.8-2c0.3-0.2,0.4-0.6,0.2-0.9l-2.7-4.6 c-0.2-0.3-0.5-0.4-0.8-0.3L22,25.3c-0.7-0.6-1.5-1-2.4-1.4l-0.3-3.4c0-0.3-0.3-0.6-0.6-0.6h-5.3c-0.3,0-0.6,0.3-0.6,0.6L12.4,24 c-0.9,0.3-1.6,0.8-2.4,1.4l-3.1-1.4c-0.3-0.1-0.7,0-0.8,0.3l-2.7,4.6c-0.2,0.3-0.1,0.7,0.2,0.9l2.8,2c-0.1,0.4-0.1,0.9-0.1,1.4 s0,0.9,0.1,1.4l-2.8,2c-0.3,0.2-0.4,0.6-0.2,0.9l2.7,4.6c0.2,0.3,0.5,0.4,0.8,0.3l3.1-1.4c0.7,0.6,1.5,1,2.4,1.4l0.3,3.4 c0,0.3,0.3,0.6,0.6,0.6h5.3c0.3,0,0.6-0.3,0.6-0.6l0.3-3.4c0.9-0.3,1.6-0.8,2.4-1.4l3.1,1.4c0.3,0.1,0.7,0,0.8-0.3l2.7-4.6 c0.2-0.3,0.1-0.7-0.2-0.9L25.6,34.4z M16,38c-2.8,0-5-2.2-5-5c0-2.8,2.2-5,5-5c2.8,0,5,2.2,5,5C21,35.8,18.8,38,16,38z"></path> <path fill="#FFA000" d="M41.9,15.3C42,14.8,42,14.4,42,14s0-0.8-0.1-1.3l2.5-1.8c0.3-0.2,0.3-0.5,0.2-0.8l-2.5-4.3 c-0.2-0.3-0.5-0.4-0.8-0.2l-2.9,1.3c-0.7-0.5-1.4-0.9-2.2-1.3l-0.3-3.1C36,2.2,35.8,2,35.5,2h-4.9c-0.3,0-0.6,0.2-0.6,0.5l-0.3,3.1 c-0.8,0.3-1.5,0.7-2.2,1.3l-2.9-1.3c-0.3-0.1-0.6,0-0.8,0.2l-2.5,4.3c-0.2,0.3-0.1,0.6,0.2,0.8l2.5,1.8C24,13.2,24,13.6,24,14 s0,0.8,0.1,1.3l-2.5,1.8c-0.3,0.2-0.3,0.5-0.2,0.8l2.5,4.3c0.2,0.3,0.5,0.4,0.8,0.2l2.9-1.3c0.7,0.5,1.4,0.9,2.2,1.3l0.3,3.1 c0,0.3,0.3,0.5,0.6,0.5h4.9c0.3,0,0.6-0.2,0.6-0.5l0.3-3.1c0.8-0.3,1.5-0.7,2.2-1.3l2.9,1.3c0.3,0.1,0.6,0,0.8-0.2l2.5-4.3 c0.2-0.3,0.1-0.6-0.2-0.8L41.9,15.3z M33,19c-2.8,0-5-2.2-5-5c0-2.8,2.2-5,5-5c2.8,0,5,2.2,5,5C38,16.8,35.8,19,33,19z"></path></g></svg><div class="side-align-2">Services</div></li></a> -->
            <!-- <a href="/managers/schedule" style="text-decoration: none;"><li class="sidebar-3"><svg viewBox="0 0 24 24" height="30px" width="30px" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 9H21M17 13.0014L7 13M10.3333 17.0005L7 17M7 3V5M17 3V5M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z" stroke="#00D25B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg><div class="side-align-3">Schedule</div></li></a> -->
            <a href="/managers/wallet" style="text-decoration: none;"><li class="sidebar-4-selected"><svg viewBox="0 0 24 24" height="30px" width="30px" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 14.0005L8 14M21 12V11.2C21 10.0799 21 9.51984 20.782 9.09202C20.5903 8.71569 20.2843 8.40973 19.908 8.21799C19.4802 8 18.9201 8 17.8 8H3M21 12V16M21 12H19C17.8954 12 17 12.8954 17 14C17 15.1046 17.8954 16 19 16H21M21 16V16.8C21 17.9201 21 18.4802 20.782 18.908C20.5903 19.2843 20.2843 19.5903 19.908 19.782C19.4802 20 18.9201 20 17.8 20H6.2C5.0799 20 4.51984 20 4.09202 19.782C3.71569 19.5903 3.40973 19.2843 3.21799 18.908C3 18.4802 3 17.9201 3 16.8V8M18 8V7.2C18 6.0799 18 5.51984 17.782 5.09202C17.5903 4.71569 17.2843 4.40973 16.908 4.21799C16.4802 4 15.9201 4 14.8 4H6.2C5.07989 4 4.51984 4 4.09202 4.21799C3.71569 4.40973 3.40973 4.71569 3.21799 5.09202C3 5.51984 3 6.0799 3 7.2V8" stroke="#008FE1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg><div class="side-align-4">Wallet</div></li></a>
            <a href="/managers/bookings" style="text-decoration: none">
              <li class="sidebar-update">
                  <svg viewBox="0 0 1024 1024" height="30px" width="30px" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M484 1008.8H480c-33.6-1.6-63.2-25.6-72-59.2-10.4-40 10.4-80.8 49.6-95.2 8.8-3.2 18.4-4.8 27.2-4.8 30.4 0 58.4 17.6 71.2 44.8 3.2 6.4 7.2 7.2 9.6 7.2h3.2c135.2-22.4 235.2-96 297.6-218.4 0.8-0.8 0.8-2.4 1.6-4l2.4-6.4-7.2 0.8-4.8 0.8c-3.2 0-4.8 0.8-7.2 0.8h-6.4c-59.2 0-107.2-48-107.2-107.2V457.6c0-59.2 48-107.2 107.2-107.2h6.4c7.2 0 13.6 2.4 20.8 4 3.2 0.8 7.2 1.6 10.4 2.4l2.4 0.8 6.4 2.4-1.6-7.2C856 212 718.4 68 522.4 63.2H512c-200 0-341.6 144.8-378.4 288l-1.6 6.4 6.4-1.6c2.4-0.8 4.8-0.8 7.2-1.6 5.6-1.6 10.4-3.2 16-4 5.6-0.8 12-1.6 17.6-1.6 50.4 0 96.8 38.4 104.8 88 0.8 6.4 1.6 14.4 1.6 22.4v108c0 52-34.4 94.4-85.6 105.6-7.2 1.6-14.4 2.4-21.6 2.4-52 0-96.8-38.4-105.6-88.8-0.8-7.2-1.6-12.8-1.6-18.4v-32c0-28-0.8-56.8 0-84.8 3.2-140.8 61.6-256.8 172-344 55.2-44 120-72 192-84.8 35.2-6.4 72-8.8 107.2-5.6 5.6 0.8 12 0.8 17.6 1.6 62.4 6.4 120.8 25.6 172.8 56.8 104.8 61.6 173.6 152.8 205.6 269.6 9.6 34.4 14.4 71.2 14.4 109.6V567.2c0 16.8-4 32.8-11.2 49.6-2.4 4.8-4 10.4-4.8 16-0.8 1.6-0.8 4-1.6 5.6-46.4 156-174.4 273.6-333.6 306.4-9.6 1.6-20 4-32.8 5.6-6.4 0.8-8 4.8-9.6 8-12.8 29.6-41.6 50.4-75.2 50.4z m362.4-612h-6.4c-31.2 3.2-53.6 28.8-53.6 59.2V567.2c0 4.8 0.8 9.6 1.6 14.4 6.4 27.2 30.4 46.4 57.6 46.4 2.4 0 4.8 0 7.2-0.8 31.2-4 53.6-28.8 53.6-59.2V456.8c0-4.8-0.8-9.6-1.6-13.6-7.2-27.2-31.2-46.4-58.4-46.4z m-668 0c-33.6 0-59.2 26.4-59.2 60v109.6c0 4.8 0.8 9.6 1.6 13.6 6.4 27.2 30.4 46.4 57.6 46.4h6.4c31.2-3.2 53.6-28.8 53.6-59.2V456.8c-0.8-33.6-26.4-60-60-60z" fill="#FFA000"></path></g></svg>              
                <div class="side-align-update">Bookings</div>
              </li>
            </a>
            <a href="/managers/update" style="text-decoration: none">
              <li class="sidebar-4">
                <svg viewBox="0 0 20 20" height="30px" width="30px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#8F5FE8"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>profile_round [#8F5FE8]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-140.000000, -2159.000000)" fill="#8F5FE8"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M100.562548,2016.99998 L87.4381713,2016.99998 C86.7317804,2016.99998 86.2101535,2016.30298 86.4765813,2015.66198 C87.7127655,2012.69798 90.6169306,2010.99998 93.9998492,2010.99998 C97.3837885,2010.99998 100.287954,2012.69798 101.524138,2015.66198 C101.790566,2016.30298 101.268939,2016.99998 100.562548,2016.99998 M89.9166645,2004.99998 C89.9166645,2002.79398 91.7489936,2000.99998 93.9998492,2000.99998 C96.2517256,2000.99998 98.0830339,2002.79398 98.0830339,2004.99998 C98.0830339,2007.20598 96.2517256,2008.99998 93.9998492,2008.99998 C91.7489936,2008.99998 89.9166645,2007.20598 89.9166645,2004.99998 M103.955674,2016.63598 C103.213556,2013.27698 100.892265,2010.79798 97.837022,2009.67298 C99.4560048,2008.39598 100.400241,2006.33098 100.053171,2004.06998 C99.6509769,2001.44698 97.4235996,1999.34798 94.7348224,1999.04198 C91.0232075,1998.61898 87.8750721,2001.44898 87.8750721,2004.99998 C87.8750721,2006.88998 88.7692896,2008.57398 90.1636971,2009.67298 C87.1074334,2010.79798 84.7871636,2013.27698 84.044024,2016.63598 C83.7745338,2017.85698 84.7789973,2018.99998 86.0539717,2018.99998 L101.945727,2018.99998 C103.221722,2018.99998 104.226185,2017.85698 103.955674,2016.63598" id="profile_round-[#8F5FE8]"> </path> </g> </g> </g> </g></svg>
                
                <div class="side-align-update">Update Profile</div>
               
              </li>
              
            </a>
        <a href="/" style="text-decoration: none"
        ><li class="sidebar-4">
          <svg
            height="30px"
            width="30px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M21 12L13 12"
                stroke="#FC424A"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M18 15L20.913 12.087V12.087C20.961 12.039 20.961 11.961 20.913 11.913V11.913L18 9"
                stroke="#FC424A"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M16 5V4.5V4.5C16 3.67157 15.3284 3 14.5 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H14.5C15.3284 21 16 20.3284 16 19.5V19.5V19"
                stroke="#FC424A"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </svg>
         <div style="margin-left: 22px">Logout</div> </li></a
      >
        </ul>
    
    </div>

    <div class="abc">
    <header style="width: 100%;">
      <div class="profile">
        <img src="/Images/Uploads/<%= manager.profile_pic %>" alt="" />
        <span> <%= manager.name %> </span>
      </div>
    </header>

    <div id="bod">
       
     <div id="slidehead">
    <div id="header"><div class="head headsel " id="head1">Wallet</div>
    <div class="head" id="head2">Deposit</div>
    <div class="head" id="head3">Refunds</div>
    </div>
    <div id="slider">
        <div id="walletContent" class="content " > <!-- Content for Wallet -->
            <div id="wallcont">
            <!-- Your Wallet content goes here -->
            <div class="flex-col" id="bal">
            <h1>Balance</h1>
            <h1 id="am">₹ <span id="money"><%= manager.wallet %></span></h1>
            <button>+</button>
        </div>
        <img src="../Images/wallet.png" alt="" style="  margin-left: 50px; margin-right: 10px;">
      <div class="slidetext">Use our e-wallet<br> for fast and secure transactions.</div>
    </div>
        </div>
        <div id="depositContent" class=" content display-none" > <!-- Content for Deposit (hidden by default) -->
            <div class="flex-col" id="dep">
                <h1>Enter amount to deposit</h1>
                
              <div id="rup"><element style="font-size: x-large;font-weight:500px; margin-right:0.4vw;">₹</element><form action="/managers/wallet" method="post" style="display:inline-flex"> <input type="number" name="amount"id="entam"placeholder="Amount"></div> 
                <button type="submit">+</button>
              </form>
            </div>
            <div class="slidetext" style="margin-left: 4vw; margin-top: 9vh;"> Deposit upto ₹ 25,000 in<br> our electronic wallet.</div>
        </div>
        <div id="refundsContent" class=" content display-none" > 
          
        </div>
    </div>
    </div>
    
    <div id="yourtr"><h1>Your Transactions</h1></div>
    
    <div class="flex-col" id="searches">
        <!-- <div class="transaction"></div> -->
        <% transactions.forEach(function(transaction){   %>
          <% if((transaction.from === manager.username) || (transaction.to === manager.username) ){  %>

            <div class="transaction">
              <div class="flex-row">
                
                <% if(transaction.incoming_manager){ %>
                  <div class="dec">
                    <!-- Icon for income -->
                    <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="none">
                      <path stroke="#00D25B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.343 4.343l11.314 11.314m0 0h-9.9m9.9 0v-9.9"></path>
                    </svg>
                  </div>
                <% }else{  %>
                  <div class="inc">
                    <!-- Icon for income -->
                    <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="none">
                      <path stroke="#FC424A" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.657 15.657L4.343 4.343m0 0h9.9m-9.9 0v9.9"></path>
                    </svg>
                  </div>
                <% } %>
                  
                  <span class="label">Amount:</span>
                  <div class="amount"><%= (transaction.amount).toPrecision(3) %></div>
              </div>
              <div class="flex-row"`>
                  <span class="label">Transaction Id:</span>
                  <div class="transaction-id"><%= transaction.transaction_id %></div>
              </div>
              <div class="flex-row">
                  <span class="label">From:</span>
                  <div class="from"><%= transaction.from %></div>
              </div>
              <div class="flex-row">
                  <span class="label">Manager Id:</span>
                  <div class="manager-id"><%= transaction.manager._id %></div>
              </div>
              <div class="flex-row">
                  <span class="label">Booking Id:</span>
                  <div class="booking-id"><%= transaction.booking_id %></div>
              </div>
          </div>->

          <% } %>
        <% }) %>
    </div>
    
       <div id="footer">
        
        <div id="gen"><div class="colfoot"><img id="logofoot" src="../Images/newlogog.png" height="05px" alt=""><div class="foottext">Curious about new developments and updates?<br>Follow us on social media.</div> <div id="social"><a><svg  height="30px"viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M6.5 8C7.32843 8 8 7.32843 8 6.5C8 5.67157 7.32843 5 6.5 5C5.67157 5 5 5.67157 5 6.5C5 7.32843 5.67157 8 6.5 8Z" fill="#ffffff"></path> <path d="M5 10C5 9.44772 5.44772 9 6 9H7C7.55228 9 8 9.44771 8 10V18C8 18.5523 7.55228 19 7 19H6C5.44772 19 5 18.5523 5 18V10Z" fill="#ffffff"></path> <path d="M11 19H12C12.5523 19 13 18.5523 13 18V13.5C13 12 16 11 16 13V18.0004C16 18.5527 16.4477 19 17 19H18C18.5523 19 19 18.5523 19 18V12C19 10 17.5 9 15.5 9C13.5 9 13 10.5 13 10.5V10C13 9.44771 12.5523 9 12 9H11C10.4477 9 10 9.44772 10 10V18C10 18.5523 10.4477 19 11 19Z" fill="#ffffff"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M20 1C21.6569 1 23 2.34315 23 4V20C23 21.6569 21.6569 23 20 23H4C2.34315 23 1 21.6569 1 20V4C1 2.34315 2.34315 1 4 1H20ZM20 3C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3H20Z" fill="#ffffff">
            </path> </g></svg></a>
             <a> <svg fill="#ffffff"  height="30px" width="30px"xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 31.812 26" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M20.877,2.000 C22.519,2.000 24.382,2.652 25.426,3.738 C26.724,3.486 27.949,3.025 29.050,2.386 C28.625,3.687 27.718,4.779 26.540,5.469 C27.693,5.332 28.797,5.035 29.820,4.590 C29.054,5.707 28.087,6.690 26.971,7.477 C26.981,7.715 26.987,7.955 26.987,8.195 C26.987,15.562 21.445,24.000 10.939,24.000 C7.715,24.000 4.507,23.133 1.982,21.551 C2.428,21.605 2.883,21.631 3.343,21.631 C6.019,21.631 8.482,20.740 10.439,19.242 C7.937,19.199 5.827,17.586 5.103,15.373 C5.450,15.437 5.810,15.473 6.178,15.473 C6.696,15.473 7.203,15.406 7.681,15.277 C5.068,14.768 3.100,12.514 3.100,9.813 C3.100,9.787 3.100,9.764 3.100,9.740 C3.871,10.158 4.750,10.410 5.687,10.440 C4.154,9.437 3.147,7.734 3.147,5.799 C3.147,4.777 3.428,3.818 3.919,2.998 C6.735,6.367 10.945,8.588 15.693,8.822 C15.594,8.414 15.543,7.984 15.543,7.553 C15.543,4.473 17.721,2.000 20.877,2.000 M29.820,4.590 L29.825,4.590 M20.877,-0.000 C17.033,-0.000 14.060,2.753 13.614,6.552 C10.425,5.905 7.524,4.204 5.440,1.711 C5.061,1.257 4.503,0.998 3.919,0.998 C3.867,0.998 3.815,1.000 3.763,1.004 C3.123,1.055 2.547,1.413 2.216,1.966 C1.525,3.122 1.159,4.447 1.159,5.799 C1.159,6.700 1.321,7.579 1.625,8.400 C1.300,8.762 1.113,9.238 1.113,9.740 L1.113,9.813 C1.113,11.772 1.882,13.589 3.160,14.952 C3.087,15.294 3.103,15.655 3.215,15.998 C3.657,17.348 4.459,18.510 5.499,19.396 C4.800,19.552 4.079,19.631 3.343,19.631 C2.954,19.631 2.577,19.609 2.222,19.565 C2.141,19.556 2.061,19.551 1.981,19.551 C1.148,19.551 0.391,20.078 0.108,20.886 C-0.202,21.770 0.140,22.753 0.932,23.249 C3.764,25.023 7.318,26.000 10.939,26.000 C17.778,26.000 22.025,22.843 24.383,20.195 C27.243,16.984 28.907,12.718 28.972,8.455 C29.899,7.682 30.717,6.790 31.410,5.792 C31.661,5.458 31.810,5.041 31.810,4.590 C31.810,3.909 31.473,3.308 30.958,2.946 C31.181,2.176 30.925,1.342 30.303,0.833 C29.940,0.537 29.496,0.386 29.049,0.386 C28.708,0.386 28.365,0.474 28.056,0.654 C27.391,1.040 26.680,1.344 25.931,1.562 C24.555,0.592 22.688,-0.000 20.877,-0.000 L20.877,-0.000 Z"></path> </g></svg></a>
            <a><svg viewBox="0 0 24 24" height="30px" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2 6C2 3.79086 3.79086 2 6 2H18C20.2091 2 22 3.79086 22 6V18C22 20.2091 20.2091 22 18 22H6C3.79086 22 2 20.2091 2 18V6ZM6 4C4.89543 4 4 4.89543 4 6V18C4 19.1046 4.89543 20 6 20H18C19.1046 20 20 19.1046 20 18V6C20 4.89543 19.1046 4 18 4H6ZM12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9ZM7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12ZM17.5 8C18.3284 8 19 7.32843 19 6.5C19 5.67157 18.3284 5 17.5 5C16.6716 5 16 5.67157 16 6.5C16 7.32843 16.6716 8 17.5 8Z" fill="#ffffff"></path> </g></svg></a>
         <a><svg  height="30px"viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>meta_line</title> <g id="页面-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Brand" transform="translate(-480.000000, -0.000000)"> <g id="meta_line" transform="translate(480.000000, 0.000000)"> <path d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z" id="MingCute" fill-rule="nonzero"> </path> <path d="M8.06925,5.00237 C6.47461,4.89183 5.20472,5.81816 4.31715,6.9809 C3.42438,8.15046 2.79487,9.7015 2.44783,11.2489 C2.10089,12.7959 2.01419,14.4379 2.29341,15.813 C2.56477,17.1493 3.25726,18.5227 4.71368,18.9581 C6.10192,19.3731 7.34848,18.783 8.30022,17.9824 C9.25406,17.18 10.0806,16.0364 10.7459,14.9309 C11.2678,14.0637 11.7139,13.1803 12.0636,12.4265 C12.4134,13.1803 12.8595,14.0637 13.3814,14.9309 C14.0467,16.0364 14.8732,17.18 15.8271,17.9824 C16.7788,18.783 18.0254,19.3731 19.4136,18.9581 C20.87,18.5227 21.5625,17.1493 21.8339,15.813 C22.1131,14.4379 22.0264,12.7959 21.6795,11.2489 C21.3324,9.7015 20.7029,8.15046 19.8101,6.9809 C18.9226,5.81816 17.6527,4.89183 16.058,5.00237 C14.3243,5.12255 13.0879,6.47059 12.3715,7.49 C12.2613,7.64685 12.1586,7.80273 12.0636,7.95456 C11.9687,7.80273 11.866,7.64685 11.7558,7.49 C11.0394,6.47059 9.803,5.12255 8.06925,5.00237 Z M10.9193,10.0265 C10.6371,10.7417 9.95004,12.3747 9.03232,13.8996 C8.41066,14.9325 7.71866,15.8581 7.01275,16.4519 C6.30475,17.0474 5.7503,17.1805 5.28652,17.0419 C4.89094,16.9236 4.46993,16.4812 4.25341,15.415 C4.04476,14.3875 4.0958,13.0402 4.39936,11.6866 C4.70282,10.3335 5.23656,9.07262 5.90692,8.19443 C6.58247,7.30944 7.27559,6.95216 7.93095,6.99758 C8.69718,7.0507 9.46077,7.70266 10.1194,8.63992 C10.487,9.16295 10.7616,9.6916 10.9193,10.0265 Z M13.208,10.0265 C13.4902,10.7417 14.1773,12.3747 15.095,13.8996 C15.7166,14.9325 16.4086,15.8581 17.1145,16.4519 C17.8226,17.0474 18.377,17.1805 18.8408,17.0419 C19.2364,16.9236 19.6574,16.4812 19.8739,15.415 C20.0825,14.3875 20.0315,13.0402 19.7279,11.6866 C19.4245,10.3335 18.8907,9.07262 18.2204,8.19443 C17.5448,7.30944 16.8517,6.95216 16.1963,6.99758 C15.4301,7.0507 14.6665,7.70266 14.0079,8.63992 C13.6403,9.16295 13.3657,9.6916 13.208,10.0265 Z" id="形状" fill="#ffffff"> </path> </g> </g> </g> </g></svg></a> 
         
        </div></div></div>
        <div id="address"><div class="colfoot"><div class="foothead">ADDRESS</div><div id="foottext">Indian Institue of Information Technology Sricity,<br> 630, Gnan Marg Sri City, Sathyavedu,<br> Andhra Pradesh, India-517646</div></div></div>
        <div id="contact"><div class="colfoot"><div class="foothead line-space">CONTACT US</div><div id="foottext" class="cont"><svg viewBox="0 0 24 24" height="20px" width="20px"fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 5.5C3 14.0604 9.93959 21 18.5 21C18.8862 21 19.2691 20.9859 19.6483 20.9581C20.0834 20.9262 20.3009 20.9103 20.499 20.7963C20.663 20.7019 20.8185 20.5345 20.9007 20.364C21 20.1582 21 19.9181 21 19.438V16.6207C21 16.2169 21 16.015 20.9335 15.842C20.8749 15.6891 20.7795 15.553 20.6559 15.4456C20.516 15.324 20.3262 15.255 19.9468 15.117L16.74 13.9509C16.2985 13.7904 16.0777 13.7101 15.8683 13.7237C15.6836 13.7357 15.5059 13.7988 15.3549 13.9058C15.1837 14.0271 15.0629 14.2285 14.8212 14.6314L14 16C11.3501 14.7999 9.2019 12.6489 8 10L9.36863 9.17882C9.77145 8.93713 9.97286 8.81628 10.0942 8.64506C10.2012 8.49408 10.2643 8.31637 10.2763 8.1317C10.2899 7.92227 10.2096 7.70153 10.0491 7.26005L8.88299 4.05321C8.745 3.67376 8.67601 3.48403 8.55442 3.3441C8.44701 3.22049 8.31089 3.12515 8.15802 3.06645C7.98496 3 7.78308 3 7.37932 3H4.56201C4.08188 3 3.84181 3 3.63598 3.09925C3.4655 3.18146 3.29814 3.33701 3.2037 3.50103C3.08968 3.69907 3.07375 3.91662 3.04189 4.35173C3.01413 4.73086 3 5.11378 3 5.5Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg><div> 976522XXX9</div></div>
        <div id="foottext"  class="cont"><svg viewBox="0 0 24 24" height="20px" width="20px"fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 5.5C3 14.0604 9.93959 21 18.5 21C18.8862 21 19.2691 20.9859 19.6483 20.9581C20.0834 20.9262 20.3009 20.9103 20.499 20.7963C20.663 20.7019 20.8185 20.5345 20.9007 20.364C21 20.1582 21 19.9181 21 19.438V16.6207C21 16.2169 21 16.015 20.9335 15.842C20.8749 15.6891 20.7795 15.553 20.6559 15.4456C20.516 15.324 20.3262 15.255 19.9468 15.117L16.74 13.9509C16.2985 13.7904 16.0777 13.7101 15.8683 13.7237C15.6836 13.7357 15.5059 13.7988 15.3549 13.9058C15.1837 14.0271 15.0629 14.2285 14.8212 14.6314L14 16C11.3501 14.7999 9.2019 12.6489 8 10L9.36863 9.17882C9.77145 8.93713 9.97286 8.81628 10.0942 8.64506C10.2012 8.49408 10.2643 8.31637 10.2763 8.1317C10.2899 7.92227 10.2096 7.70153 10.0491 7.26005L8.88299 4.05321C8.745 3.67376 8.67601 3.48403 8.55442 3.3441C8.44701 3.22049 8.31089 3.12515 8.15802 3.06645C7.98496 3 7.78308 3 7.37932 3H4.56201C4.08188 3 3.84181 3 3.63598 3.09925C3.4655 3.18146 3.29814 3.33701 3.2037 3.50103C3.08968 3.69907 3.07375 3.91662 3.04189 4.35173C3.01413 4.73086 3 5.11378 3 5.5Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg><div> 922522XXX9</div></div>
        <div id="foottext"  class="cont"><svg viewBox="0 0 24 24" height="20px" width="20px" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M21 8L17.4392 9.97822C15.454 11.0811 14.4614 11.6326 13.4102 11.8488C12.4798 12.0401 11.5202 12.0401 10.5898 11.8488C9.53864 11.6326 8.54603 11.0811 6.5608 9.97822L3 8M6.2 19H17.8C18.9201 19 19.4802 19 19.908 18.782C20.2843 18.5903 20.5903 18.2843 20.782 17.908C21 17.4802 21 16.9201 21 15.8V8.2C21 7.0799 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V15.8C3 16.9201 3 17.4802 3.21799 17.908C3.40973 18.2843 3.71569 18.5903 4.09202 18.782C4.51984 19 5.07989 19 6.2 19Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg><div> abcdefg@gmail.com</div></div></div>
    </div>

    <script src="../js/manager_wallet.js"></script>
</body>
</html>