<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parking</title>
    <!-- <link rel="stylesheet" href="style.css" /> -->

    <link rel="stylesheet" href="/CSS/user_parking.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../Images/favicon_io/favicon-16x16.png"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Baloo+Bhai+2&family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons" 
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="pk-part1">
      <!-- logo part -->
      <div class="pk-web-logo">
        <img src="/Images/finallogo.png" alt="" />
      </div>

      <!-- profile_part -->
      <div class="pk-profile-part1">
        <div style="position: relative;">
          <div style="width: 4rem; height: 4rem; border-radius: 9999px; background-color: #fff; overflow: hidden;">
              <img style="width: 100%; height: 100%; object-fit: cover;" src="/Images/Uploads/<%= user.profile_pic %>" alt="">
          </div>
       </div>
        <div class="pk-profile-part1-name"><%= user.name %></div>
      </div>

      <!-- oprtions_part -->
      <div class="pk-options-part1">
        <div id="options">
          <div class="pk-elewrap">
            <div class="pk-element">
              <svg
                height="30px"
                width="30px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M0.75 9.64801L2.25 11.873L4.43924 10.3971"
                    stroke="#00D25B"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M2.25098 11.874C2.28233 9.33058 3.23589 6.885 4.9345 4.99166C6.6331 3.09831 8.96125 1.88593 11.4864 1.57978C14.0115 1.27362 16.5619 1.89451 18.6638 3.32708C20.7656 4.75965 22.276 6.90649 22.9142 9.36874C23.5525 11.831 23.2753 14.4412 22.134 16.7144C20.9928 18.9877 19.0652 20.7694 16.7093 21.7284C14.3534 22.6875 11.7295 22.7588 9.32497 21.9291C6.94241 21.1069 4.93585 19.4554 3.6707 17.2773"
                    stroke="#00D25B"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M9.5 12.5H16"
                    stroke="#00D25B"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M7.99416 11.0006C8.39199 11.0006 8.77949 11.158 9.0608 11.4393C9.3421 11.7207 9.50014 12.1022 9.50014 12.5C9.50014 12.8978 9.3421 13.2794 9.0608 13.5607C8.78984 13.8316 8.4259 13.9882 8.04397 13.9994"
                    stroke="#00D25B"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M17.4656 11.0004C17.0802 11.0092 16.7125 11.1662 16.4393 11.4393C16.158 11.7206 16 12.1022 16 12.5C16 12.8978 16.158 13.2794 16.4393 13.5607C16.7125 13.8338 17.0802 13.9908 17.4656 13.9996"
                    stroke="#00D25B"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
              <div>
                <a href="/users/profile">Service</a>
              </div>
            </div>
          </div>
          <div class="pk-selected pk-elewrap">
            <div class="pk-element">
              <svg
                height="30px"
                width="30px"
                fill="#8F5FE8"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="#8F5FE8"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    fill-rule="evenodd"
                    d="M19,2 C20.6568542,2 22,3.34314575 22,5 L22,19 C22,20.6568542 20.6568542,22 19,22 L5,22 C3.34314575,22 2,20.6568542 2,19 L2,5 C2,3.34314575 3.34314575,2 5,2 L19,2 Z M19,4 L5,4 C4.44771525,4 4,4.44771525 4,5 L4,19 C4,19.5522847 4.44771525,20 5,20 L19,20 C19.5522847,20 20,19.5522847 20,19 L20,5 C20,4.44771525 19.5522847,4 19,4 Z M9,6 L12,6 C14.209139,6 16,7.790861 16,10 C16,12.1421954 14.3160315,13.8910789 12.1996403,13.9951047 L12,14 L10,14 L10,17 C10,17.5522847 9.55228475,18 9,18 C8.44771525,18 8,17.5522847 8,17 L8,7 C8,6.44771525 8.44771525,6 9,6 L12,6 L9,6 Z M12,8 L10,8 L10,12 L12,12 L12.1492623,11.9945143 C13.1841222,11.9181651 14,11.0543618 14,10 C14,8.8954305 13.1045695,8 12,8 Z"
                  ></path>
                </g>
              </svg>
              <div>Parking</div>
            </div>
          </div>
          <div class="pk-elewrap">
            <div class="pk-element">
              <svg
                height="30px"
                width="30px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M4.5 10V7C4.5 6.44772 4.94772 6 5.5 6H7.3125M4.5 10V20C4.5 20.5523 4.94772 21 5.5 21H18.5C19.0523 21 19.5 20.5523 19.5 20V10M4.5 10H19.5M19.5 10V7C19.5 6.44772 19.0523 6 18.5 6H16.2188M7.3125 6V3M7.3125 6H16.2188M16.2188 6V3"
                    stroke="#FFAB00"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M8 14L16 14"
                    stroke="#FFAB00"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
              <div>
                <a href="/users/user_current_bookings">Current-Bookings</a>
              </div>
            </div>
          </div>
          <div class="pk-elewrap">
            <div class="pk-element">
              <svg
                height="30px"
                width="30px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M18 8V7.2C18 6.0799 18 5.51984 17.782 5.09202C17.5903 4.71569 17.2843 4.40973 16.908 4.21799C16.4802 4 15.9201 4 14.8 4H6.2C5.07989 4 4.51984 4 4.09202 4.21799C3.71569 4.40973 3.40973 4.71569 3.21799 5.09202C3 5.51984 3 6.0799 3 7.2V8M21 12H19C17.8954 12 17 12.8954 17 14C17 15.1046 17.8954 16 19 16H21M3 8V16.8C3 17.9201 3 18.4802 3.21799 18.908C3.40973 19.2843 3.71569 19.5903 4.09202 19.782C4.51984 20 5.07989 20 6.2 20H17.8C18.9201 20 19.4802 20 19.908 19.782C20.2843 19.5903 20.5903 19.2843 20.782 18.908C21 18.4802 21 17.9201 21 16.8V11.2C21 10.0799 21 9.51984 20.782 9.09202C20.5903 8.71569 20.2843 8.40973 19.908 8.21799C19.4802 8 18.9201 8 17.8 8H3Z"
                    stroke="#0090E7"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
              <div>
                <a href="/users/user_wallet">Wallet</a>
              </div>
            </div>
          </div>
          <div class="pk-elewrap">
            <div class="pk-element">
              <svg
                height="30px"
                width="30px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M21 12L13 12"
                    stroke="#FC424A"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M18 15L20.913 12.087V12.087C20.961 12.039 20.961 11.961 20.913 11.913V11.913L18 9"
                    stroke="#FC424A"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M16 5V4.5V4.5C16 3.67157 15.3284 3 14.5 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H14.5C15.3284 21 16 20.3284 16 19.5V19.5V19"
                    stroke="#FC424A"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
              <div><a style="color:white ;text-decoration:none" href="/users/logout">Logout</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pk-part2">
      <header>
        <div class="profile">
          <img src="/Images/Uploads/<%= user.profile_pic %>" alt="Profile Picture" />
          <span><%= user.name %></span>
        </div>
      </header>

      <div id="service-main">
        <div id="servewrap">
         
  
          <table class="services-table">
            <% for (let i = 0; i < manager.services.parking.parking_slots; i++) { %>
                <% if (i % 4 === 0) { %>
                    <tr>
                <% } %>
                <td onclick="toggleSelected(this) "><%= i + 1 %></td>
                <% if ((i + 1) % 4 === 0 || (i + 1) === manager.services.parking.parking_slots) { %>
                    </tr>
                <% } %>
            <% } %>
        </table>
        
        </div>
  
        <div class="lot-details">
          <img src="/Images/Uploads/<%=manager.service_pic%>" />
          <h1>Car Repairs Pvt.Ltd.</h1>
          <div class="location">
            <div class="location-svg">
              <svg
                viewBox="0 0 24 24"
                height="30px"
                width="34px"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M12 21C15.5 17.4 19 14.1764 19 10.2C19 6.22355 15.866 3 12 3C8.13401 3 5 6.22355 5 10.2C5 14.1764 8.5 17.4 12 21Z"
                    stroke="#ffffff"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z"
                    stroke="#ffffff"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
            </div>
            <p style="padding: 0; margin: 0; margin-top: 18px; margin-left: 10px">
             <%=manager.address%>, <%=manager.location%>
            </p>
          </div>
          <div class="phoneno">
            <div class="phone">
              <svg
                viewBox="0 0 24 24"
                height="30px"
                width="34px"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M3 5.5C3 14.0604 9.93959 21 18.5 21C18.8862 21 19.2691 20.9859 19.6483 20.9581C20.0834 20.9262 20.3009 20.9103 20.499 20.7963C20.663 20.7019 20.8185 20.5345 20.9007 20.364C21 20.1582 21 19.9181 21 19.438V16.6207C21 16.2169 21 16.015 20.9335 15.842C20.8749 15.6891 20.7795 15.553 20.6559 15.4456C20.516 15.324 20.3262 15.255 19.9468 15.117L16.74 13.9509C16.2985 13.7904 16.0777 13.7101 15.8683 13.7237C15.6836 13.7357 15.5059 13.7988 15.3549 13.9058C15.1837 14.0271 15.0629 14.2285 14.8212 14.6314L14 16C11.3501 14.7999 9.2019 12.6489 8 10L9.36863 9.17882C9.77145 8.93713 9.97286 8.81628 10.0942 8.64506C10.2012 8.49408 10.2643 8.31637 10.2763 8.1317C10.2899 7.92227 10.2096 7.70153 10.0491 7.26005L8.88299 4.05321C8.745 3.67376 8.67601 3.48403 8.55442 3.3441C8.44701 3.22049 8.31089 3.12515 8.15802 3.06645C7.98496 3 7.78308 3 7.37932 3H4.56201C4.08188 3 3.84181 3 3.63598 3.09925C3.4655 3.18146 3.29814 3.33701 3.2037 3.50103C3.08968 3.69907 3.07375 3.91662 3.04189 4.35173C3.01413 4.73086 3 5.11378 3 5.5Z"
                    stroke="#ffffff"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
            </div>
            <div>
              <p
                style="padding: 0; margin: 0; margin-top: 18px; margin-left: 10px"
              >
               <%=manager.contact%>
              </p>
            </div>
          </div>
          <div class="mail">
            <div class="mail-svg">
              <svg
                viewBox="0 0 24 24"
                height="30px"
                width="35px"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M21 8L17.4392 9.97822C15.454 11.0811 14.4614 11.6326 13.4102 11.8488C12.4798 12.0401 11.5202 12.0401 10.5898 11.8488C9.53864 11.6326 8.54603 11.0811 6.5608 9.97822L3 8M6.2 19H17.8C18.9201 19 19.4802 19 19.908 18.782C20.2843 18.5903 20.5903 18.2843 20.782 17.908C21 17.4802 21 16.9201 21 15.8V8.2C21 7.0799 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V15.8C3 16.9201 3 17.4802 3.21799 17.908C3.40973 18.2843 3.71569 18.5903 4.09202 18.782C4.51984 19 5.07989 19 6.2 19Z"
                    stroke="#ffffff"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
            </div>
            <div>
              <p
                style="padding: 0; margin: 0; margin-top: 17px; margin-left: 10px"
              >
              <%=manager.email%>
              </p>
            </div>
          </div>
          <div class="lot-no">
            <h2 id="selectedlot">Lot Number : 101</h2>
          </div>

          <div  style="padding: 0;  margin-top: 18px; margin-left: 160px">
            <h2>₹ <%=manager.services.parking.parking_price%></h2>
          </div>
          <div class="book-now">
            <h2>Already Booked</h2>
          </div>
          <div id='submitbtn' style="margin-left: 40px;"class="book-now">
            <h2><a href="/users/payment?managerId=<%= manager._id %>">Book Now</a></h2>
          </div>
        </div>
      </div>
  </body>
  <script src="/JS/manager_services.js"></script>
</html>
